<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="/footer :: header"></div>
<br>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
<a href="/cinema/addCinema"><button type="button" class="btn btn-outline-success">Добавить</button></a>
<a href="/cinema/cinemaFilter"><button type="button" class="btn btn-outline-info">Поиск</button></a>
<br>
<br>
<table class="table table-striped table-dark";>
    <thead>
    <tr>
        <th scope="col">№ Кинотеатра</th>
        <th scope="col">Название</th>
        <th scope="col">Адрес</th>
        <th scope="col">Телефон</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tr>
    </tr>
    <div th:each="el : ${cinema}">
        <tr>
            <td th:text="${el.id}"></td>
            <td th:text="${el.name}"></td>
            <td th:text="${el.address}"></td>
            <td th:text="${el.phone}"></td>
            <td><a th:href="'/cinema/' + ${el.id}+ '/edit'" class="btn btn-outline-primary a-pills">Изменить</a></td>
            <td><a th:href="'/cinema/' + ${el.id} + '/remove'" class="btn btn-outline-danger a-pills">Удалить</a></td>
        </tr>
    </div>
</table>
    </div>
</div>
</body>
</html>