<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="/footer :: header"></div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <form action="/ticket/addTicket" method="post" th:object="${ticket}">

            <label class="sr-only">Кинотеатр</label>
            <select name="cinemaname" class="form-control">
                <div th:each="element : ${cinema}">
                    <option th:text="${element.name}"></option>
                </div>
            </select>

            <label class="sr-only">Зал</label>
            <select name="hallname" class="form-control">
                <div th:each="element : ${hall}">
                    <option th:text="${element.name}"></option>
                </div>
            </select>

            <label class="sr-only">Место</label>
            <select name="placerow" class="form-control">
                <div th:each="element : ${place}">
                    <option th:text="${element.row}"></option>
                </div>
            </select>

            <label class="sr-only">Сотрудник</label>
            <select name="employeelastname" class="form-control">
                <div th:each="element : ${employee}">
                    <option th:text="${element.lastname}"></option>
                </div>
            </select>
            <br>
            <button type="submit" class="btn btn-warning">Добавить</button>
        </form>

    </div>
</div>
</body>
</html>