<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="/footer :: header"></div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
<h1>Редактирование должности</h1>
<div th:each="el : ${postEdit}">
    <form method="post" class="form-inline" th:object="${post}">
        <div class="form-group mx-sm-3 mb-2">
            <label class="sr-only">Название должности</label>
            <input type="text" th:value="${el.name}" name="name" class="form-control">
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red"></div>

            <label class="sr-only">Оклад</label>
            <input type="text" th:value="${el.salary}" name="salary" placeholder="Введите" class="form-control"><br>
            <div th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}" style="color: red"></div>
            <br>
            <button type="submit" class="btn btn-primary mb-2">Сохранить</button>
        </div>
    </form>
</div>
    </div>
</div>
</body>
</html>